2) a) ¿Cuántas variables hay? <br>
    df.columns
b) ¿Qué tipos de datos usar para cada una? <br>
    para las columnas de CO2 y CO2 percapita es necesario hacer ETL ó Data wrangling. Así
    pasamos de tipo de dato str a float.
    el resto str
c) ¿Qué tipo de variables son? <br>
    df.info()
d) ¿Hay valores faltantes? <br>
    df.isnull().sum()
e) ¿Cuál es el total de emisiones de CO2 para 'América Latina y Caribe' en el año 2010?
    dfnuevo[(dfnuevo["Región"] == 'América Latina y Caribe') & (dfnuevo["Año"] == 2010)]

In [16]:
import pandas as pd
df = pd.read_csv('Emisiones_CO2.csv', encoding='latin-1',on_bad_lines='warn', sep='|')
print(df)
##thousands(.)
##decimals(,)

      Código de país Nombre del país                   Región   Año  CO2 (kt)  \
0                ABW           Aruba  América Latina y Caribe  1960       NaN
1                ABW           Aruba  América Latina y Caribe  1961       NaN
2                ABW           Aruba  América Latina y Caribe  1962       NaN
3                ABW           Aruba  América Latina y Caribe  1963       NaN
4                ABW           Aruba  América Latina y Caribe  1964       NaN
...              ...             ...                      ...   ...       ...
11122            ZWE        Zimbabue      África subsahariana  2007  9.732,22
11123            ZWE        Zimbabue      África subsahariana  2008  7.682,37
11124            ZWE        Zimbabue      África subsahariana  2009  8.239,75
11125            ZWE        Zimbabue      África subsahariana  2010  9.028,15
11126            ZWE        Zimbabue      África subsahariana  2011  9.860,56

      CO2 per cápita (toneladas métricas)
0                                     NaN
1                                     NaN
2                                     NaN
3                                     NaN
4                                     NaN
...                                   ...
11122                         0,731866885
11123                         0,569255428
11124                         0,600521157
11125                         0,646072745
11126                         0,691697897

[11127 rows x 6 columns]

In [17]:
df.isnull().sum()

Código de país                            0
Nombre del país                           0
Región                                    0
Año                                       0
CO2 (kt)                               2095
CO2 per cápita (toneladas métricas)    2098
dtype: int64

In [18]:
df.columns

Index(['Código de país', 'Nombre del país', 'Región', 'Año', 'CO2 (kt)',
       'CO2 per cápita (toneladas métricas)'],
      dtype='object')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11127 entries, 0 to 11126
Data columns (total 6 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Código de país                       11127 non-null  object
 1   Nombre del país                      11127 non-null  object
 2   Región                               11127 non-null  object
 3   Año                                  11127 non-null  int64
 4   CO2 (kt)                             9032 non-null   object
 5   CO2 per cápita (toneladas métricas)  9029 non-null   object
dtypes: int64(1), object(5)
memory usage: 521.7+ KB

In [20]:
df["CO2 per cápita (toneladas métricas)"]=df["CO2 per cápita (toneladas métricas)"].str.replace('.','').str.replace(',','.').astype(float)

C:\Users\Dan\AppData\Local\Temp\ipykernel_7128\3674415782.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["CO2 per cápita (toneladas métricas)"]=df["CO2 per cápita (toneladas métricas)"].str.replace('.','').str.replace(',','.').astype(float)

In [21]:
df["CO2 (kt)"]=df["CO2 (kt)"].str.replace('.','').str.replace(',','.').astype(float)

C:\Users\Dan\AppData\Local\Temp\ipykernel_7128\3292113178.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["CO2 (kt)"]=df["CO2 (kt)"].str.replace('.','').str.replace(',','.').astype(float)

In [22]:
dfnuevo = pd.DataFrame(df,columns=['Región','Año','CO2 (kt)'])

In [26]:
dfnuevo[(dfnuevo["Región"] == 'América Latina y Caribe') & (dfnuevo["Año"] == 2010)]

                        Región   Año    CO2 (kt)
50     América Latina y Caribe  2010    2456.890
362    América Latina y Caribe  2010  179000.940
518    América Latina y Caribe  2010     524.381
1090   América Latina y Caribe  2010    2464.220
1246   América Latina y Caribe  2010     553.717
1350   América Latina y Caribe  2010   15350.060
1402   América Latina y Caribe  2010  419754.160
1454   América Latina y Caribe  2010    1518.140
1870   América Latina y Caribe  2010   72258.240
2130   América Latina y Caribe  2010   78583.810
2286   América Latina y Caribe  2010    7568.690
2338   América Latina y Caribe  2010   38360.490
2390   América Latina y Caribe  2010         NaN
2442   América Latina y Caribe  2010     564.718
2702   América Latina y Caribe  2010     135.679
2806   América Latina y Caribe  2010   21363.940
2910   América Latina y Caribe  2010   34249.780
3950   América Latina y Caribe  2010     260.357
4054   América Latina y Caribe  2010   11367.700
4158   América Latina y Caribe  2010    1719.820
4262   América Latina y Caribe  2010    8107.740
4366   América Latina y Caribe  2010    2119.530
4938   América Latina y Caribe  2010    7190.990
5354   América Latina y Caribe  2010     260.357
5770   América Latina y Caribe  2010     403.370
6186   América Latina y Caribe  2010         NaN
6498   América Latina y Caribe  2010  445063.790
7434   América Latina y Caribe  2010    4624.090
7798   América Latina y Caribe  2010    8866.810
7850   América Latina y Caribe  2010   57857.930
8110   América Latina y Caribe  2010         NaN
8266   América Latina y Caribe  2010    5075.130
8890   América Latina y Caribe  2010    6307.240
9201   América Latina y Caribe  2010    2394.550
9461   América Latina y Caribe  2010         NaN
9617   América Latina y Caribe  2010     190.684
10033  América Latina y Caribe  2010   50916.300
10397  América Latina y Caribe  2010    6453.920
10553  América Latina y Caribe  2010     234.688
10605  América Latina y Caribe  2010  197511.950
10657  América Latina y Caribe  2010         NaN